.container-principal-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 50px;
    margin-top: 200px;
    user-select: none;
}
.card-individual-catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    width: 250px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.3s;
    cursor: pointer;
    margin-top: -200px;

    font-family: serif;
}
.card-individual-catalogo:hover {
    border: 2px solid rgb(0, 0, 0);
    color: black;
    background-color: white;
}
/* .img-catalogo {
    width: 150px;
    border-radius: 10px;
} */
.titulo-catalogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    font-size: 15px;
}
.img-catalogo-inicio {
    width: 600px;
}
.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1500px) {
    .card-individual-catalogo {
        width: 120px;
    }
    .titulo-catalogo {
        width: 100px;
        font-size: 10px;
        font-weight: 800;
    }
}
@media (max-width: 600px) {
    .container-principal-categoria {
        flex-direction: column;
        margin-top: 10px;
        width: 300px;
    }
    .card-individual-catalogo {
        width: 220px;
        margin-top: -20px;
    }

    .titulo-catalogo {
        width: 200px;
        font-size: 12px;
        font-weight: 800;
    }
    .img-catalogo-inicio {
        width: 250px;
        /* display: none; */
    }
}
