.container-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff1eb;
    height: 100vh;
}
.container-centrado-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-home {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* color: white; */
    width: 150px;
    border-radius: 10px;
    height: 60px;
    font-size: 40px;
    border: 5px solid #fff1eb;
    transition: 0.5s;
    cursor: pointer;
}
.title-landing {
    color: black;
}
.button-home:hover {
    color: black;
    border: 5px solid black;
    background-color: #fff1eb;
}
@media (max-width: 615px) {
    .title-landing {
        font-size: 25px;
    }
    .button-home {
        font-size: 25px;
        width: 120px;
        height: 50px;
    }
    .container-landing {
        height: 98vh;
    }
}
