.container-centrado-cards {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    user-select: none;
}
.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 280px; */
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.082);
    background-color: rgb(255, 255, 255);
}
.img-titulo-card {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sinStock {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.233);
    margin-top: -15px;
    font-weight: 800;
}
.sinStockNull {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    margin-top: -15px;
    font-weight: 800;
}
.img-card {
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.titulo-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
}
.price-card {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); */
    height: 20px;
    width: 50px;
    font-weight: 800;
    font-size: 14px;
    margin-top: -15px;
    transition: 1s;
}
.agregar-carrito-sinStock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: rgb(255, 255, 255);
    background-color: #00000027;
    height: 30px;
    width: 150px;
    margin-top: -10px;
    border: 1px solid #00000000;
}
.agregar-carrito {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: white;
    background-color: black;
    height: 30px;
    width: 150px;
    margin-top: -10px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid black;
}
.agregar-carrito:hover {
    background-color: white;
    color: black;
    font-weight: 600;
    border: 1px solid black;
}
