.container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff1eb;
    height: 105px;
    -webkit-box-shadow: -4px 2px 18px 0px #f0d9cf;
    -moz-box-shadow: -4px 2px 18px 0px #f0d9cf;
    box-shadow: -4px 2px 18px 0px #f0d9cf;
    user-select: none;
}
.title-navBar {
    margin-top: 21px;
    color: #e78d67de;
    font-size: 20px;
}
.list-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 20px;
    font-size: 12px;
    width: 400px;
}
.logo-navBar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: -4px 2px 18px 0px #080808;
    -moz-box-shadow: -4px 2px 18px 0px #000000;
    box-shadow: -4px 2px 18px 0px #00000038;
}
.logo-title-navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 400px;
}
.title-navBar-list {
    font-weight: 300;
}
.img-ig {
    width: 20px;
}
.login-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 70px;
}
@media (max-width: 700px) {
    .logo-navBar {
        display: none;
    }
    .title-navBar {
        display: none;
        font-size: 12px;
    }
    .list-navbar {
        gap: 8px;
        margin-left: -100px;
        font-size: 8px;
        width: 200px;
    }
    .container-navbar {
        height: 60px;
    }
    .login-logout {
        gap: 15px;
        width: 70px;
        margin-top: 3px;
    }
    .img-ig {
        width: 15px;
    }
    .logo-title-navBar {
        width: 50px;
    }
}
.carrito-png {
    width: 35px;
    margin-top: -7px;
}

.button-cerrar-sesion {
    background-color: #fffcfc;
    border: 2px solid rgba(0, 0, 0, 0.411);
    color: rgba(0, 0, 0, 0.795);
    width: 113px;
    height: 40px;
    font-size: 12px;
    font-weight: 800;
    transition: 0.3s;
}

.button-cerrar-sesion:hover {
    background-color: black;
    color: white;
}
.numero-sobre-carrito {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    font-size: 13px;
    margin-left: 9px;
    font-weight: 500;
    /* margin-top: -20px; */
}
