.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #ffffff;
    user-select: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    font-family: serif;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.192);
}
.img-registro {
    width: 50px;
    height: 50px;
    margin-top: 7px;
    transform: rotate(15deg);
}
.register-img {
    display: flex;
}
.name-form {
    font-size: 13px;
    height: 20px;
    width: 200px;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.671);
    margin-bottom: 15px;
    width: 270px;
    height: 100px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.button-registrarse {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title-registro {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.input-register {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    width: 250px;
    font-size: 1rem;
    margin-top: -15px;
}
@media (max-width: 700px) {
    .form-group {
        width: 250px;
        height: 70px;
    }
    .input-register {
        width: 230px;
    }
    .register-form-container {
        height: 100vh;
    }
}
